@import url('https://fonts.googleapis.com/css?family=Dancing+Script'); /*insert google font*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*body {
	background-color: #2FFECE;
}*/

header {
	border: 5px solid blue;
	border-radius: 20px;
	text-align: center;
	background-color: black;
	margin: 50px;
}

h1 {
	color: white;
	font-family: 'Dancing Script', cursive;
}

p {
	color: white;
	font-family: 'Oswald', sans-serif;
}

#chef-kissing{
	width: 100px;
	height: 100px;
}

#gameboard{
	width: 1000px;
	margin: 180px 0 0 50px;
}

/*.back .front{
	position: absolute;
	backface-visibility: hidden;
}*/

/*images for the cards*/
.back img{
	position: absolute;
	display: block;
	margin: 0 auto;
	top: 10px;
	right: 10px;
	width: 130px;
	height: 130px;
	z-index: -1;
	visibility: none;

}

.front img {
	position: relative;
	display: block;
	margin: 10px auto;
	width: 130px;
	height: 130px;
	/*z-index: 0;*/
	visibility: none;
	/*background-color: #2FFECE;*/

}



/*div tag for cards*/
.gridBox {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 150px;
	border: 3px solid black;
	border-radius: 30px;
	margin: 0 10px;

}

/*section tag for div for cards image*/
.grid{
	width: 700px;
	height: 700px;
}

.selected{
	border: 3px solid blue;
	border-radius: 30px;
	/*margin: 0 auto;
	width: 150px;
	height: 150px;*/
}

.match{
	border: 4px solid red;
	border-radius: 30px;
}



/*.gridPictures {
	width: 100px;
	height: 100px;
}

.grid {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 0 25px;
	text-align: center;
	font-size: 50px;
	border: 1px solid green;

}*/