header {
	border: 5px solid blue;
	border-radius: 20px;
	text-align: center;
	background-color: black;
	margin: 50px;
}

h1, p {
	color: white;
}

#gameboard{
	width: 1000px;
	margin: 180px 0 0 50px;
}

/*images for the cards*/
.gridImage {
	display: block;
	margin: 10px auto;
	width: 130px;
	height: 130px;
	/*visibility: hidden;*/
	/*padding: 25px 25px;*/
}

/*div tag for cards*/
.gridBox {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 3px solid black;
	border-radius: 30px;
	margin: 0 10px;

}

/*section tag for div for cards image*/
.grid{
	width: 700px;
	height: 700px;
}

.selected{
	border: 3px solid blue;
	border-radius: 30px;
	/*margin: 0 auto;
	width: 150px;
	height: 150px;*/
}

.match{
	border: 4px solid red;
}

/*.gridPictures {
	width: 100px;
	height: 100px;
}

.grid {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 0 25px;
	text-align: center;
	font-size: 50px;
	border: 1px solid green;

}*/